---
import Layout from '../layouts/PagePost.astro';
---

<Layout
	title="What does LibreHR incorporate?"
	description="Lorem ipsum dolor sit amet"
	heroImage=""
>
	<div class="flex flex-col gap-6 text-lg">
		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">
				Multi-company management
			</span>
			<span>
				The multi-company management feature allows users/managers/admins to easily oversee and manage multiple companies within the software.
			</span>
		</div>

		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">Absences, time tracking, shift management</span>
			<span>
				These features encompass absence management, time tracking, and shift scheduling functionalities. They facilitate efficient tracking of employee absences, monitor work hours accurately, and streamline the management of shifts within the software, enhancing workforce productivity and organizational efficiency.
			</span>
		</div>

		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">Office seat reservation</span>
			<span>
This feature allows users to efficiently reserve office seats, providing a streamlined process for managing workspace allocations within the software. Additionally, it enables users to upload their own map of each office, floor, or room, enhancing customization and adaptability to specific office layouts.			</span>
		</div>

		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">
				Task management, Work tool control, Expense and diet control, Document management, Team management
			</span>
			<span>
				This suite also includes task management, work tool control, expense and diet tracking, document management, and team management functionalities, streamlining various aspects of workflow organization and productivity enhancement.
			</span>
		</div>
	</div>
</Layout>
