---
import Layout from '../layouts/PagePost.astro';
---

<Layout
	title="Installation"
	description="Lorem ipsum dolor sit amet"
	heroImage=""
>
	<div class="flex flex-col gap-6 text-lg">
		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">Requeriments</span>
			<span class="px-4">- PHP 8.3+</span>
			<span class="px-4">- Apache / Nginx</span>
			<span class="px-4">- MySQL / SQLite / PostgreSQL</span>

			<span class="font-semibold">Installation</span>
			<span class="px-4"> Go to <a href="https://github.com/librehr/librehr" class="underline text-red-600">our github repository</a></span>
		</div>

		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">Software used to built LibreHR</span>
			<div class="flex gap-4 ">
				<a class="px-4 text-red-600 hover:text-red-500">FilamentPHP</a>
				<a class="px-4 text-red-600 hover:text-red-500">Laravel</a>
				<a class="px-4 text-red-600 hover:text-red-500">TailwindCSS</a>
				<a class="px-4 text-red-600 hover:text-red-500">Livewire</a>
				<a class="px-4 text-red-600 hover:text-red-500">Leaflet</a>
			</div>
		</div>

		<div class="flex flex-col gap-4 rounded-xl border p-4">
			<span class="font-semibold">Need help?</span>
			<span>
				Contact us at <a href="mailto:hello@librehr.com" class="text-red-600 hover:text-red-500">hello@librehr.com</a>
			</span>
		</div>
	</div>
</Layout>
