---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HeaderLink from "../components/HeaderLink.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>LibreHR</h1>
			<p>
				"The open-source software for human resources management."
			</p>
			<p>
				Would you like to try it?
			</p>
			<div class="flex flex-col gap-4">
				<div class="w-full bg-gray border px-4 p-2 rounded-full flex flex-row gap-4 items-center justify-center">
					<a href="https://app.librehr.com" class="text-red-600 hover:text-red-500">
						Access our online demo
					</a>

					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
					</svg>
				</div>

				<div class="w-full bg-red-600 hover:bg-red-500 border px-4 p-2 rounded-full flex flex-row gap-4 items-center justify-center">
					<a href="/get-started" class="text-white hover:text-white">
						Get Started
					</a>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
